@charset "UTF-8";

.editable-table {
  .celleditor {
    &:hover .celleditor-trigger {
      display: inline-block;
    }
  }

  .celleditor-trigger {
    display: none;
  }
}

.next-dialog-body > div{
  width: 100% !important;
}

.slider-img-wrapper img {
  width: 100% !important;
}

.progress-outer {
  width: 90%;
  height: 14px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.percent {
  width: 8%;
  display: inline-block;
  float: right;

}

.progress-enter {
  height: inherit;
  background: rgba(180, 160, 120, .1);
}

.progress-bg {
  display: inline-block;
  width: 0;
  height: inherit;
  border-radius: 6px;
  background: repeating-linear-gradient(-45deg, #D9CFBB 25%, #C3B393 0, #C3B393 50%, #D9CFBB 0, #D9CFBB 75%, #C3B393 0);
  background-size: 16px 16px;
  -webkit-animation: panoramic 15s linear infinite;
  animation: panoramic 15s linear infinite;
}

@-webkit-keyframes panoramic {
  to {
    background-position: 200% 0;
  }
}

@keyframes panoramic {
  to {
    background-position: 200% 0;
  }
}
